[Desktop Entry]
Encoding=UTF-8
Name=Unitecoin
Comment=Unitecoin P2P Cryptocurrency
Comment[fr]=Unitecoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Unitecoin, eşten eşe kriptografik sanal para birimi
Exec=/usr/bin/unitecoin-qt %u
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/unitecoin128.png
MimeType=x-scheme-handler/unitecoin;
Categories=Office;
